<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>Name</key>
			<string>3DEngine_dir_test</string>
			<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>MPT_HEADMULBALLS</string>
					<key>EffectName</key>
					<string>HeadeMulBallsCreateFunc</string>
					<key>ScenePath</key>
					<string>shouzhuo/model.obj</string>
				  <key>MaterialPath</key>
					<string>Diffuse.jpg</string>
					<key>Ambient</key>
					<string>0.5 0.5 0.5</string>
					<key>LightPos</key>
					<string>-500.0 400.0 300.0</string>		
				</dict>
			</array>
		</dict>
	</array>
</plist>