<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key> 
				<string>3D</string>		
				<key>Path</key>
				<string>thumbup2.FBX</string>
				<key>GlowMeshConfig</key>
				<array>
					<dict>
						<key>GlowMeshIndex</key>
						<string>1</string>
						<key>IteratorCount</key>
						<integer>5</integer>
						<key>GlowMixColor</key>
						<string>0.5,1.0,1.0</string>
						<key>GlowStrength</key>
						<float>1.3</float>
						<key>GamaExposure</key>
						<float>1.0</float>
						<key>BlurScale</key>
						<integer>8</integer>
						<key>Translate</key>
						<string>0,0,-800</string>
						<key>Rorata</key>
						<string>0,30,0</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
