<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Unknown</string>
		<key>ID</key>
		<integer>0</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>3DA</string>
				<key>Path</key>
				<string>2.obj</string>
				<key>BlendFunc</key>
				<string>770,771,1,771</string>
				<key>EnableSkinning</key>
				<integer>1</integer>
				<key>VideoType</key>
				<integer>4</integer>
				<key>PosEstimatorType</key>
                <integer>1</integer> 
				<key>ShapeConfigure</key>
				<array>
					<dict>
						<key>ShapeIndex</key>
						<integer>0</integer>
						<key>BeforeCircle</key>
						<string>zzz/zzz_.png</string>
						<key>BeforeCircleInfo</key>
						<string>1,5,2,2,24,0,0</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
