<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
			<array>
				<dict>
					<key>Type</key>
					<string>FaceDance</string>

					<key>MoreSound</key>	
					<array>
						<dict>
							<key>Pointer200Sound</key>
							<string>200pointer.mp3</string>
							<key>Pointer150Sound</key>
							<string>150pointer.mp3</string>
							<key>Pointer100Sound</key>
							<string>100pointer.mp3</string>
							<key>MissSound</key>
							<string>miss.mp3</string>
							<key>CrazySound</key>
							<string>crazybgm.mp3</string>
							<key>WarningSound</key>
							<string>warning.mp3</string>
							<key>ReadySound</key>
							<string>ReadyFight.mp3</string>
							<key>ComSound</key>
							<string>bgm.mp3</string>
						</dict>
					</array>
					<!-- 游戏设定-->
					<key>GameConfig</key>
					<array>
					<dict>
						<!--生成一个新的sprite的时间 简单理解 速率-->
						<key>Rate</key>
						<float>1.5</float>
						<!--生成速率的随机范围 rate~rate+rateRange -->
						<key>RateRange</key>
						<float>4.0</float>
						<!-- sprite的最大数量-->
						<key>MaxSpriteCount</key>
						<integer>10</integer>
						<!-- sprite的移动速度 向上为负-->
						<key>Velocity</key>
						<float>-0.0078125</float>
					</dict>
					</array>
					<!-- 进入crazy时的参数设定-->
					<key>CrazyConfig</key>
					<array>
					<dict>
						<!--生成一个新的sprite的时间 简单理解 速率-->
						<key>Rate</key>
						<float>0.5</float>
						<!--生成速率的随机范围 rate~rate+rateRange -->
						<key>RateRange</key>
						<float>0.5</float>
						<!-- sprite的最大数量-->
						<key>MaxSpriteCount</key>
						<integer>25</integer>
						<!-- sprite的移动速度 向上为负-->
						<key>Velocity</key>
						<float>-0.0130208</float>
					</dict>
					</array>			
					<!-- 人脸对应图-->
					<key>FaceActionConfig</key>
					<array>
						<dict>
							<key>FaceAction</key>
							<integer>2</integer>
							<key>Path</key>
							<string>leftEye.png</string>
						</dict>
						<dict>
							<key>FaceAction</key>
							<integer>3</integer>
							<key>Path</key>
							<string>rightEye.png</string>
						</dict>
						<dict>
							<key>FaceAction</key>
							<integer>10</integer>
							<key>Path</key>
							<string>openMouth.png</string>
						</dict>
						<dict>
							<key>FaceAction</key>
							<integer>16</integer>
							<key>Path</key>
							<string>rightHead.png</string>
						</dict>
						<dict>
							<key>FaceAction</key>
							<integer>15</integer>
							<key>Path</key>
							<string>leftHead.png</string>
						</dict>
					</array>	
					<key>AddPointsConfig</key>
					<array>
						<dict>
							<key>Points</key>
							<string>100</string>
							<key>Path</key>
							<string>100.png</string>
						</dict>
						<dict>
							<key>Points</key>
							<string>150</string>
							<key>Path</key>
							<string>150.png</string>
						</dict>
						<dict>
							<key>Points</key>
							<string>200</string>
							<key>Path</key>
							<string>200.png</string>
						</dict>
							<dict>
							<key>Points</key>
							<string>miss</string>
							<key>Path</key>
							<string>miss.png</string>
						</dict>
					</array>
					<!-- crazy持续时间-->
					<key>CrazyKeepTime</key>
					<float>15.0</float>	
					<!-- 进入crazy的分数-->
					<key>CrazyPoints</key>
					<integer>800</integer>
					<key>ReadyDecoderParam</key>
					<array>
						<dict>
							<key>Path</key>
							<string>ready/ready_.png</string>
							<key>Info</key>
							<string>3,3,0,0,49,0,0</string>
						</dict>
					</array>
					<key>BackGroundParam</key>
					<array>
						<dict>
							<key>Path</key>
							<string>bg/bg_.png</string>
							<key>Info</key>
							<string>3,3,0,0,49,0,0</string>
						</dict>
					</array>
					<key>WarningParam</key>
					<array>
						<dict>
							<key>Path</key>
							<string>WARNING/WARNING_.png</string>
							<key>Info</key>
							<string>3,3,0,0,41,0,0</string>
						</dict>
					</array>
					<key>PerfectBatter</key>
					<array>
						<dict>
							<key>Path</key>
							<string>PERFECT/PERFECT_.png</string>
							<key>Info</key>
							<string>3,3,0,0,5,0,0</string>
						</dict>
					</array>
					<key>GreatBatter</key>
						<array>
							<dict>
							<key>Path</key>
							<string>GREAT/GREAT_.png</string>
							<key>Info</key>
							<string>3,3,0,0,5,0,0</string>
							</dict>
						</array>
					<key>GoodBatter</key>
						<array>
							<dict>
							<key>Path</key>
							<string>GOOD/GOOD_.png</string>
							<key>Info</key>
							<string>3,3,0,0,5,0,0</string>
							</dict>
						</array>
					<key>Fulmination</key>
					<array>
						<dict>
							<key>Path</key>
							<string>shandian/shandian_.png</string>
							<key>Info</key>
							<string>3,3,0,0,49,0,0</string>
						</dict>
					</array>
					<key>ARConfigurationPath</key>
					<string>ar</string>
					
					
					<!-- 以下是可能需要调整的位置和宽高>
					<!-- 分数牌-->
					<key>PointsFractionConfig</key>
					<array>
					<dict>
						<key>TexturePath</key>
						<string>text.png</string>
						<key>Row</key>
						<integer>1</integer>
						<key>Column</key>
						<integer>11</integer>
						<key>TextString</key>
						<string>0123456789,</string>	
						<key>Position</key>
						<string>0.046,0.91,0.0</string><!-- 0.046 0.91-->
						<key>WidthHeight</key>
						<string>0.083,0.059</string><!--0.083 0.059 -->
					</dict>
					</array>					
					<key>BatterFractionConfig</key>
					<array>
					<dict>
						<key>TexturePath</key>
						<string>text2.png</string>
						<key>Row</key>
						<integer>1</integer>
						<key>Column</key>
						<integer>11</integer>
						<key>TextString</key>
						<string>0123456789x</string>	
						<!-- 连击的 x0 x1 位置和大小调整-->
						<key>Position</key>
						<string>0.428,0.0807,0.0</string> <!-- 0.398  0.0807-->
						<key>WidthHeight</key>
						<string>0.0654,0.0715</string> <!--0.10 0.070 -->
					</dict>
					</array>
					<!-- 游戏区域-->
					<key>GameArea</key>
					<array>
						<dict>
							<!-- 区域范围 左上往下正轴 x为上限 y为下限 区域之间不能相交 -->
							<!-- 此数值参考分辨率 不同分辨率位置不同-->
							<key>MissArea</key>
							<string>0.104,0</string> <!--0.104  0-->
							<key>GoodArea</key>
							<string>0.364,0.104</string>  <!-- 0.364 0.104-->
							<key>GreatArea</key>
							<string>0.625,0.364</string><!-- 0.625  0.364-->
							<key>PrefectArea</key>
							<string>0.885,0.6254</string> <!-- 0.885 0.6254-->
						</dict>
					</array>		
					<key>BatterPosition</key><!-- 连击图片位置 -->
					<string>0.185,-0.015,0</string> <!-- 0.185 -0.045-->
					<key>BatterWH</key><!-- 连击图片宽高 -->
					<string>0.648,0.156</string> <!-- 0.648 0.156-->
					<!-- 滑动条 即填充条 闪电效果那些的都是挑这个-->
					<key>Progress</key>
					<array>
						<dict>
							<key>WidthHeight</key><!-- 宽高-->
							<string>1,0.159</string><!-- 1 0.159 -->
						</dict>
					</array>
					<!-- 表情的宽高 -->
					<key>SpriteWidthHeigth</key>
					<string>0.231,0.126</string>				
				</dict>
			</array>
	</dict>
</array>
</plist>