<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>00</string>
		<key>ID</key>
		<integer>0</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>3DA</string>
				<key>Path</key>
				<string>11.obj</string>
				<key>BlendFunc</key>
				<string>770,771,1,771</string>
				<key>EnableSkinning</key>
				<integer>1</integer>
				<key>VideoType</key>
				<integer>4</integer>
				<key>PosEstimatorType</key>
				<integer>1</integer>
				<key>ShapeConfigure</key>
				<array>
					<dict>
						<key>ShapeIndex</key>
						<integer>0</integer>
						<key>AfterCircle</key>
						<string>home/home_.png</string>
						<key>AfterCircleInfo</key>
						<string>1,5,2,2,50,0,0</string>
					</dict>
					<dict>
						<key>ShapeIndex</key>
						<integer>1</integer>
						<key>AfterCircle</key>
						<string>lianzi/lianzi_.png</string>
						<key>AfterCircleInfo</key>
						<string>1,5,2,2,50,0,0</string>
					</dict>
					<dict>
						<key>ShapeIndex</key>
						<integer>2</integer>
						<key>AfterCircle</key>
						<string>mojing/mojing_.png</string>
						<key>AfterCircleInfo</key>
						<string>1,5,2,2,50,0,0</string>
					</dict>
					<dict>
						<key>ShapeIndex</key>
						<integer>3</integer>
						<key>AfterCircle</key>
						<string>yan/yan_.png</string>
						<key>AfterCircleInfo</key>
						<string>1,5,2,2,50,0,0</string>
					</dict>
				</array>
				<key>Trigger</key>
				<integer>1245184</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
