<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
<!-- 			<dict>
				<key>Type</key>
				<string>Blur</string>
				<key>Level</key>
				<integer>1</integer>
				<key>Degree</key>
				<integer>68</integer>
			    <key>Layer</key>
			    <integer>-1</integer>
			</dict> -->
			<dict>
				<key>Type</key>
				<string>Figure</string>
				<key>FilterType</key>
				<integer>10</integer>
				<key>VideoCircleInfo</key>
				<string>1,5,2,2,61,0,0;</string>
				<key>VideoCirclePath</key>
				<string>bg/bg_.png</string>
				<key>VideoType</key>
				<integer>4</integer>
				<key>Layer</key>
				<integer>1</integer>
			</dict>

			

		</array>
	</dict>
</array>
</plist>
