<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
				<dict>
				<key>ControlPosition</key>
				<string>1</string>
				<key>LiftControlType</key>
				<integer>0</integer>
				<key>FacemeshParameters</key>
				<string>1.00,0.40;</string>
				<key>FacemeshType</key>
				<integer>2198</integer>
				<key>ValueRange</key>
				<string>0.0,0.60</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.50;</string>
				<key>FacemeshType</key>
				<integer>2101</integer>
				<key>ValueRange</key>
				<string>0.0,0.9</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.42,
				0.00,0.00,0.85,0.85,0.00,0.50,0.50,0.74,0.50,0.45,0.35,0.40,
				-0.30,
				0.40,0.35,0.45,0.50,0.74,0.50,0.50,0.00,0.85,0.85,0.00,0.00,
				0.00,0.00,0.05,0.20,0.00,0.10,0.20,0.25,0.10,0.25,0.25,0.15,
				0.20,
				0.15,0.25,0.25,0.10,0.25,0.20,0.10,0.00,0.20,0.05,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>ValueRange</key>
				<string>0.0,0.53</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>1.00;</string>
				<key>FacemeshType</key>
				<integer>2400</integer>
				<key>ValueRange</key>
				<string>0.0,1.00</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.30,0.00;</string>
				<key>FacemeshType</key>
				<integer>2105</integer>
				<key>ValueRange</key>
				<string>0.0,0.70</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict> 
			<dict>
				<key>Type</key> 
				<string>FabbyFreeze</string>
				<key>FreezeTrigger</key>
				<integer>1245184</integer>
				<key>ResetTime</key>
				<float>5</float>
				<key>TriggerToFreeze</key>
				<integer>0</integer>
<!-- 				<key>TriggerFreezeTime</key>
				<float>0</float> -->
				<key>BottomLayer</key>
					<array>
					<dict>
						<key>VideoType</key>
						<integer>4</integer>
						<key>VideoCircleInfo</key>
						<string>1,1,0,1,1,0,0</string>
						<key>VideoCirclePath</key>
						<string>bg/bg_.png</string>
					</dict>
					</array>

				<key>BackGroundConfig</key>
					<array>
						<dict>
							<key>VideoType</key>
							<integer>4</integer>
							<key>Rectangle</key>
							<string>0.0,0.0,1.0,1.0</string>
							<key>VideoOncePath</key>
							<string>beijing/beijing_.png</string>
							<key>VideoOnceInfo</key>
							<string>2,3,0,1,18,0,0</string>
							<key>VideoCirclePath</key>
							<string>xunhuan/xunhuan_.png</string>
							<key>VideoCircleInfo</key>
							<string>2,3,0,1,6,0,0</string>
						</dict>
					</array>

				<key>MiddleConfig</key>
					<array>
						<dict>
							<key>EffectPath</key>
							<string>effect/effect0</string>
						</dict>	
					</array>
				<key>ProspectConfig</key>
					<array>
						<dict>
							<key>VideoType</key>
							<integer>4</integer>
							<key>Rectangle</key>
							<string>0.0,0.0,1.0,1.0</string>
							<key>VideoOncePath</key>
							<string>xin/xin_.png</string>
							<key>VideoOnceInfo</key>
							<string>2,3,0,1,37,0,0</string>
						</dict>
					</array>
				<key>ScaleLayer</key>
				<integer>0</integer>
				<key>ScaleValue</key>
				<float>1.2</float>
				<key>ScaleTime</key>
				<float>0.5</float>
				<key>ScaleStartTime</key>
				<float>0</float>
				<key>SwellThickness</key>
				<float>0.2</float>
				<key>SwellColor</key>
				<string>1.0,1.0,1.0,0.0;</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
