<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key> 
				<string>FabbyFreeze</string>
				<key>Sound</key>
				<integer>1</integer>
				<key>SoundEffect</key>
				<string>CatchUp.mp3</string>
				<key>ResetTime</key>
				<float>8</float>
				<key>TriggerToFreeze</key>
				<integer>1</integer>
				<key>TriggerFreezeTime</key>
				<float>5.0</float>
				<key>BottomLayer</key>
					<array>
					<dict>
						<key>VideoType</key>
						<integer>4</integer>
						<key>VideoCircleInfo</key>
						<string>1,1,0,1,1,0,0</string>
						<key>VideoCirclePath</key>
						<string>bg/bg_.png</string>
					</dict>
					</array>
				<key>BackGroundConfig</key>
					<array>
						<dict>
							<key>VideoType</key>
							<integer>4</integer>
							<key>Rectangle</key>
							<string>0.0,0.0,1.0</string>
							<key>VideoOncePath</key>
							<string>beijing/beijing_.png</string>
							<key>VideoOnceInfo</key>
							<string>2,3,0,1,18,0,0</string>
							<key>VideoCirclePath</key>
							<string>xunhuan/xunhuan_.png</string>
							<key>VideoCircleInfo</key>
							<string>2,3,0,1,6,0,0</string>
						</dict>
					</array>
				<key>MiddleConfig</key>
					<array>
						<dict>
							<key>EffectPath</key>
							<string>effect/effect0</string>
						</dict>	
					</array>
				<key>ProspectConfig</key>
					<array>
					</array>
				<key>ScaleLayer</key>
				<integer>1</integer>
				<key>ScaleValue</key>
				<float>1.2</float>
				<key>ScaleTime</key>
				<float>1</float>
				<key>ScaleStartTime</key>
				<float>2</float>
				<key>SwellThickness</key>
				<float>0.0</float>
				<key>SwellColor</key>
				<string>1.0,0.0,0.0,1.0;</string>
				<key>FilterPoolPath</key>
				<string>filter/FilterPool.plist</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
