<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>Name</key>
			<string>Edge</string>
			<key>VSPath</key>
			<string>Shaders/edge_01.vs</string>
			<key>FSPath</key>
			<string>Shaders/edge_01.fs</string>
			<key>Params</key>
			<array>
				<dict>
					<!-- 脚本参数名 -->
					<key>Key</key><string>offsetX</string>
					<!-- 脚本参数数据类型（现支持int,float,vec2,vec3,vec4,image,video） -->
					<key>DataType</key><string>float</string>
					<!-- 脚本参数值 -->
					<key>Value</key><string>0.003</string>
				</dict>
				<dict>
					<!-- 脚本参数名 -->
					<key>Key</key><string>offsetY</string>
					<!-- 脚本参数数据类型（现支持int,float,vec2,vec3,vec4,image,video） -->
					<key>DataType</key><string>float</string>
					<!-- 脚本参数值 -->
					<key>Value</key><string>0.003</string>
				</dict>
				<dict>
					<key>Key</key><string>Pencil</string>
					<key>DataType</key><string>image</string>
					<key>ImagePath</key><string>Materials/pencil.png</string>
				</dict>
			</array>
		</dict>
	</array>
</plist>