<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>IrrePolygon</string>
				<key>IsBigTexture</key>
				<integer>0</integer>
				<key>VideoType</key>
				<integer>4</integer>
				<key>BackGroundPath</key>
				<string>bg/bg_.png</string>
				<key>Clip</key>
				<string>457,343;</string>
				<key>BackGroundInfo</key>
				<string>1,1,0,0,1,0,0;</string>
				<key>AnimationShapeConfigure</key>
					<array>
						<dict>
							<key>Rectangle</key>
							<string>0.0,0.0,1.0</string>
							<key>BeforeCircle</key>
							<string>yizhang/yizhang_.png</string>
							<key>BeforeCircleInfo</key>
							<string>2,5,2,2,15,0,0;</string>
						</dict>
					</array>
				<key>FaceShapeConfigure</key>
					<array>
					<dict>
						<key>Rectangle</key>
						<string>0.345,0.12,0.31</string>
						<key>Rorate</key>
						<integer>0</integer>
						<key>EffectPath</key>
						<string>effect/effect0</string>
					</dict>		
					<dict>
						<key>Rectangle</key>
						<string>0.02,0.37,0.31</string>
						<key>Rorate</key>
						<integer>0</integer>
						<key>EffectPath</key>
						<string>effect/effect1</string>
					</dict>					
					<dict>
						<key>Rectangle</key>
						<string>0.67,0.37,0.31</string>
						<key>Rorate</key>
						<integer>0</integer>
						<key>EffectPath</key>
						<string>effect/effect2</string>
					</dict>			
					<dict>
						<key>Rectangle</key>
						<string>0.345,0.62,0.31</string>
						<key>Rorate</key>
						<integer>0</integer>
						<key>EffectPath</key>
						<string>effect/effect3</string>
					</dict>
					</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
