<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key> 
				<string>FreezeSplit</string>
			<!--	<key>Sound</key>
				<integer>1</integer>
				<key>SoundEffect</key>
				<string>CatchUp.mp3</string>
			-->	
				<key>ResetTime</key>
				<float>8</float>
				<key>BottomLayer</key>
					<array>
					<dict>
						<key>VideoType</key>
						<integer>4</integer>
						<key>VideoCircleInfo</key>
						<string>1,1,0,1,1,0,0</string>
						<key>VideoCirclePath</key>
						<string>bg/bg_.png</string>
					</dict>
					</array>
				<key>BackGroundConfig</key>
					<array>
					</array>
				<key>MiddleConfig</key>
					<array>
						<dict>
							<key>EffectPath</key>
							<string>effect/effect0</string>
						</dict>	
					</array>
				<key>ProspectConfig</key>
					<array>
					</array>
				<key>SwellThickness</key>
				<float>0.015</float>
				<key>SwellColor</key>
				<string>1.0,0.0,0.0,1.0;</string>
				<key>SpiltConfg</key>
				<array>
					<dict>
						<key>PauseTime</key><!-- 每次暂停时间-->
						<float>2</float>
						<key>Reciprocal</key><!-- 倒计时-->
						<float>3</float>
						<key>Polygon</key>
						<array>
							<dict>
								<key>Vertex0</key>
								<string>0.3,0.8</string>								
								<key>Vertex1</key>
								<string>0.8,0.8</string>
								<key>Vertex2</key>
								<string>0.3,0.5</string>
								<key>Vertex3</key>
								<string>0.8,0.5</string>
								<key>UVOffset</key>
								<float>0.00,0.0</float>
							</dict>						
							<dict>
								<key>Vertex0</key>
								<string>0.3,0.5</string>
								<key>Vertex1</key>
								<string>0.55,0.32</string>
								<key>Vertex2</key>
								<string>0.2,0.15</string>
								<key>UVOffset</key>
								<float>0.0,0.0</float>
							</dict>
						
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
